astropy
bokeh
matplotlib
pandas
requests
scipy
sncosmo
uncertainties
extinction
nestle
sndata>=0.8.3
emcee
tqdm
sklearn
numpy
iminuit
nestle
pytest-cov
python-coveralls
sfdmap

sphinx
sphinx-argparse
sphinx-rtd-theme
