astropy
bokeh
matplotlib
pandas
requests
scipy
sncosmo<2.0.0
uncertainties
extinction
nestle
sndata
emcee
tqdm
sklearn
sphinx-rtd-theme
numpy
iminuit
nestle
pytest-cov
python-coveralls
sfdmap

sphinx==2.2.0
sphinx-argparse==0.2.5
sphinx-rtd-theme==0.4.3
