astropy
bokeh
matplotlib
pandas
requests
scipy
sncosmo<2.0.0
uncertainties
extinction
nestle
sndata
emcee
tqdm
sklearn
numpy
iminuit
nestle
pytest-cov
python-coveralls
sfdmap

sphinx
sphinx-argparse
sphinx-rtd-theme
